@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&family=Almendra:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

.Almendra-SC {
  font-family: "Almendra SC", "Arial";
}

.Almendra {
  font-family: "Almendra", "Arial";
}

.Alegreya {
  font-family: "Alegreya";
}
