.HamburgerMenu-closed {
  position: absolute;
  top: -2rem;
  left: 15rem;
  padding: 1rem;
  width: 20rem;
  z-index: -1;
  background-color: #ca8a04;
  transition: left 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

@media only screen and (max-width: 640px) {
  .HamburgerMenu-closed {
    position: absolute;
    top: -30rem;
    padding: 1rem;
    width: 20rem;
    z-index: -1;
    background-color: #374151;

    transition: none;
  }
}

.HamburgerMenu-open {
  position: absolute;
  top: -2rem;
  left: -17rem;
  padding: 1rem;
  width: 20rem;

  background-color: #ca8a04;
  z-index: -1;

  transition: left 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

@media only screen and (max-width: 640px) {
  .HamburgerMenu-open {
    position: absolute;
    top: -10vw;
    left: -100vw;
    padding: 20vw;
    width: 120vw;

    background-color: #374151;
    z-index: -1;

    transition: none;
  }
}
