.HamburgerMenu-closed {
  position: absolute;
  top: -2rem;
  left: 15rem;
  padding: 1rem;
  width: 20rem;
  z-index: -1;
  background-color: #ca8a04;
  transition: left 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.HamburgerMenu-open {
  position: absolute;
  top: -2rem;
  left: -17rem;
  padding: 1rem;
  width: 20rem;

  background-color: #ca8a04;
  z-index: -1;

  transition: left 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.HamburgerMenu-mobile {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}
